html {
  font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high  */
  font-family: "Open Sans", sans-serif; /* this should be the rest of the output you got from Google fonts */
}

h1 {
  font-size: 60px;
  text-align: center;
  color: darkgray;
}

p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
  color: lightslategray;
}

html {
  background-color: #7A7F84;
}

body {
  width: 1000px;
  margin: 0 auto;
  background-color: #B6D8FA;
  padding: 0 50px 50px 50px;
  border: 10px solid black;
}
